### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### dataset ###
datasets/
summary/
### checkpoint ###
checkpoint/

### log ###
logs/

### debug ###
*.out
*.ses
